@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}


<div class="w3-content" style="">
    <!-- The Grid -->
    <div class="w3-row-padding">

        <div class="row w3-container" style="border-bottom:solid; border-bottom-color:#808080">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 5vh; text-align: left; font-family:'Courier New'"> Paynow </p>
            </div>
        </div>

        <div class="row w3-container" style="margin-top:2%">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    Transaction Number: 20181234567 <br />  Items: 10 Rocks, 10 Metal <br /> Total Price: 1,000 <br />
                </p>
            </div>

            <div class="col-sm-12" style="margin-top:10vh;">

                <div class="w3-col m2 w3-center col-sm-6" style="text-align:center">
                    <div style="width:80%;border-style: solid;border-radius: 10%">
                        <img src="~/images/upload.png" style="width:65%;" name="imageContainer" id="imageContainer" alt="Avatar">
                    </div>
                </div>
                <div class="w3-col m2 w3-center col-sm-6" style="text-align:center;">
                    <div style="width:80%;border-style: solid;border-radius: 10%">
                        <img src="~/images/upload.png" style="width:65%;" name="imageContainer" id="imageContainer" alt="Avatar">
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="margin-top:2%">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    <b style="font-weight:bold"> Mode of Payment:</b>
                </p>
            </div>
            <div class="col-sm-12" style="">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    <button type="button" class="form-control col-xs-2" style="background-color:forestgreen; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'"> Cash on Delivery </button>
                </p>
            </div>
            <div class="col-sm-12" style="">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    <button type="button" class="form-control col-xs-2" style="background-color:cadetblue; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'"> Credit Card </button>
                </p>
            </div>

            <div class="col-sm-12" style="">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    <button type="button" class="form-control col-xs-2" style="background-color:darkgoldenrod; color:aliceblue; font-size: 2vh; text-align: center; font-family:'Courier New'"> Paypal </button>
                </p>
            </div>


        </div>
    </div>
</div>