
<div class="w3-content" style="">
    <!-- The Grid -->
    <div class="w3-row-padding">

        <div class="row w3-container" style="border-bottom:solid; border-bottom-color:#808080">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'"> Contact Admin</p>
            </div>
        </div>

        <div class="row w3-container" style="margin-top:2%">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'">
                    <b style="font-weight:bold"> Email: </b> admin@gmail.com
                </p>
            </div>

            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 2vh; text-align: left; font-family:'Courier New'">
                    <b style="font-weight:bold"> Contact Number: </b> +63 927 123 45 67
                </p>
            </div>

            <div class="col-sm-12" style="">
                <p class="" style="height: 8vh; font-size: 2vh; text-align: left; font-family:'Courier New'">
                    <b style="font-weight:bold"> Created and Designed by: </b> <br /> Defiesta, Ma. Laurrette Angelica Joice A. <br /> Estrada, Diana G. <br /> Veloso, Art Nico S.
                </p>
            </div>

        </div>
    </div>
</div>