

<div class="w3-main">
    <form action="." method="get">
        <header id="portfolio">

          
            <!-- Overlay effect when opening sidebar on small screens -->
            <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
            <div class="w3-container">
                <h1 style="text-align: center; font-style: italic;"><marquee> <b>Products on the market</b> </marquee></h1>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <!--     <span class="w3-margin-right">Order By:</span> -->


                </div>
            </div>
        </header>
    </form>


    <div class='w3-row-padding' style="font-size: x-small!important;">
        <table class='table table-striped' style="text-align: ; ">
            <thead style="text-align: !important;font-size: x-small!important;">
                <tr>
                    <th class="col-xs-3"> Item Name</th>
                    <th class="col-xs-3"> Description</th>
                    <th class="col-xs-3"> Price</th>
                    <th class="col-xs-3"> Image</th>

                </tr>
            </thead>
            <tbody style="font-size: x-small!important;">
                @{
                    for (int x = 1; x <= 5; x++)
                    {
                    <tr>
                        <td> Item @x  </td>
                        <td> Description @x </td>
                        <td> Price @x </td>

                        <td>  <img src="~/images/img1.jpg" style="width:50%;" name="imageContainer" id="imageContainer" alt="Avatar"></td>

                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
  
</div>
