

<div class='w3-row-padding'>
    <table class='table table-striped' style="text-align:center; font-size:small">
        <thead>
            <tr>
                <th>  Name</th>
                <th>  Price</th>
                <th>  Description</th>
                <th>  Vendor</th>
                <th>  Image</th>
                <th>  Availabiity </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td> Gem Stone     </td>
                <td> 300     </td>
                <td> A gemstone is a piece of mineral crystal which, in cut and polished form, is used to make jewelry or other adornments.     </td>
                <td> ABC Mining Corp     </td>
                <td> <img src="./../images/blank_image.png" style="width:10rem;height:10rem;" name="imageContainer" id="imageContainer" alt="Avatar"></td>
                <td> 200     </td>

                <td><a href='#'> <button type='button' class='btn btn-info btn-block'>View</button></a></td>
                <td><a href='#'> <button type='button' class='btn btn-primary btn-block'>Edit</button></a></td>
            </tr>
            <tr>
                <td> MEtal     </td>
                <td> 250     </td>
                <td> The first step in mining is to break the rocks into pieces by carefully placing explosive charges into holes drilled in the rock.     </td>
                <td> Asian Minning     </td>
                <td> <img src="./../images/blank_image.png" style="width:10rem;height:10rem;" name="imageContainer" id="imageContainer" alt="Avatar"></td>
                <td> 50,000     </td>

                <td><a href='#'> <button type='button' class='btn btn-info btn-block'>View</button></a></td>
                <td><a href='#'> <button type='button' class='btn btn-primary btn-block'>Edit</button></a></td>
            </tr>

        </tbody>
    </table>
</div>
