

<div class='w3-row-padding'>
    <table class='table table-striped' style="text-align:center;">
        <thead>
            <tr>
                <th>  Name</th>
                <th>  Price</th>
                <th>  Description</th>
                <th>  Vendor</th>
                <th>  Image</th>
                <th>  Availabiity </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>

                <td><a href='#'> <button type='button' class='btn btn-info btn-block'>View</button></a></td>
                <td><a href='#'> <button type='button' class='btn btn-primary btn-block'>Edit</button></a></td>
            </tr>
            <tr>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>
                <td> 1     </td>

                <td><a href='#'> <button type='button' class='btn btn-info btn-block'>View</button></a></td>
                <td><a href='#'> <button type='button' class='btn btn-primary btn-block'>Edit</button></a></td>
            </tr>

        </tbody>
    </table>
</div>
