@{
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

@model IEnumerable<capstone_project.Models.tbl_accounts>

@foreach (var item in Model)
{
    <div class="w3-content" style="">
        <!-- The Grid -->
        <div class="w3-row-padding">

            <div class="row w3-container" style="border-bottom:solid; border-bottom-color:#808080">
                <div class="col-sm-12">
                    <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New'"> My Profile</p>
                </div>
            </div>

            <div class="row w3-container" style="margin-top:2%">
                <div class="col-sm-12">

                    <div class="col-sm-12" style="margin-bottom:2vh">
                        <p style="font-size:2.5vh"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Credentials</p>
                    </div>
                    <div class="col-sm-12" style="margin-bottom:2vh">
                        <input style="font-size:2vh; text-align:center" type="email" class="form-control col-xs-2" id="email" placeholder="Email" value="@item.account_email">
                    </div>
                    <div class="col-sm-12" style="margin-bottom:2vh">
                        <p><input style="font-size:2vh;  text-align:center" type="password" class="form-control" id="acount_password" placeholder="Password" value="@item.account_password"></p>
                    </div>
                    <div class="col-sm-12" style="margin-bottom:2vh">
                        <p><input style="font-size:2vh; text-align:center" type="password" class="form-control" id="re_password" placeholder="Re-Password" value="@item.account_password"></p>
                    </div>
                    <div class="col-sm-12" style="">
                        <button type="button" class="form-control col-xs-12" style="font-size:2vh;background-color:cornflowerblue;width:100%; color:aliceblue" onclick="update()"> Update Profile  </button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
}
    <script>

    function update() {

        var email = document.getElementById("email").value;
        var password = document.getElementById("acount_password").value;
        var re_password = document.getElementById("re_password").value;


        if (password == re_password) {
            $.ajax({
                method: "POST",
                url: "@Url.Action("update_admin", "Accounts")",
                data: { userame: email, password: password },
                success: function (result) {
                    alert("Profile Edited");
                },
                failed: function (result) {
                    console.log("Failed");
                },
            });

            if (fileInput != "" ) {
                EditImg();
            }

        } else {
            alert("Password does not match. Please try again");
        }
    }



    </script>