
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="w3-content" style="padding-bottom:10vh">
    <!-- The Grid -->
    <div class="w3-row-padding">

        <div class="row w3-container" style="border-bottom:solid; border-bottom-color:#808080">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 3vh; text-align: left; font-family:'Courier New';color:#000000"> Account Request Sent <p>
            </div>
        </div>

        <div class="row w3-container" style="margin-top:2%">
            <div class="col-sm-12">
                <p class="" style="height: 8vh; font-size: 2vh; text-align: left; font-family:'Courier New'; color:#000000">
                    The request has been sent to the administrator. <br />Please wait 5 business days for your account to be verified and activated.
                </p>
            </div>

            <div class="col-sm-12" style="margin-top:5%">
                <p class="" style="height: 8vh; font-size: 2vh; text-align: left; font-family:'Courier New';color:#000000">
                    <b style="font-weight:bold"> Created and Designed by: </b> <br /> Defiesta, Ma. Laurrette Angelica Joice A. <br /> Estrada, Diana G. <br /> Veloso, Art Nico S.
                </p>
            </div>

        </div>
    </div>
</div>